<!-- <app-navbar></app-navbar> -->
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/planet/art/62238187ed16e.jpeg');">
    <div class="filter"></div>
    <div class="container">

        <h3>Planet Records</h3>

        <div class="motto text-center">
            <h2>
                News    
            </h2>
            
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=CfihYWRWRTQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-11">
        <!-- <button type="button" class="btn btn-info float-right">Add News</button> -->
        <app-add-artist class="float-right"></app-add-artist>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        
        <div class="container">

            <div class="row">

                <div class="col-md-4 ">
                    <div class="col-xs-4  col-sm-4 col-md-12 offset-md-1">
                        <div class="card-avatar">
                            <a href="#avatar"> 
                                <img src="assets/img/daniel-olahs.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <!-- <h4 class="card-title">Robert Orben</h4> -->
                                    <h6 class="card-category">Brujas en planet R</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p>
                        </div>
                        <!-- <a href="javascript:void(0)">Show more</a> -->
                        <app-modal-component></app-modal-component>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="col-xs-3 col-sm-3 col-md-12 offset-md-1">
                        <div class="card-avatar">
                            <a href="#avatar"> 
                                <img src="assets/img/faces/clem-onojeghuo-3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <!-- <h4 class="card-title">Robert Orben</h4> -->
                                    <h6 class="card-category">Developer canta super bien</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p>
                        </div>
                        <!-- <a href="javascript:void(0)">Show more</a> -->
                        <app-modal-component></app-modal-component>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-xs-3 col-sm-3 col-md-12 offset-md-1">
                        <div class="card-avatar">
                            <a href="#avatar"> 
                                <img src="assets/img/ilya-yakover.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <!-- <h4 class="card-title">Robert Orben</h4> -->
                                    <h6 class="card-category">Polaco violinista volador</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p>
                        </div>
                        <!-- <a href="javascript:void(0)">Show more</a> -->
                        <app-modal-component></app-modal-component>
                    </div>
                </div>
    
                    
            </div>
        </div>
    </div>    
</div>


