<!-- <app-navbar></app-navbar> -->
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/products/Música-para-atraer-clientes-al-negocio-¡No-las-pases-por-alto.jpg');">
    <div class="filter"></div>
    <div class="container">

        <h3>Planet Records.</h3>

        <div class="motto text-center text-danger">
            <h2>
                Music
            </h2>
            
            <br />
        </div>
    </div>
</div>



<!-- <div id="images"> -->
    
    <div class="container ">
        
        <!-- <div class="section text-center"> -->
        
        <!-- <br/>

        <div class="row ">
            <div class="col-md-11">
                <button type="button" class="btn btn-info float-right">Add music</button>
                <app-add-artist *ngIf="idAdmin" class="float-right"></app-add-artist>
            </div>
        </div>
        <br/> -->

        <div class="col-sm-3 ml-auto mt-1">
            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false" >
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>

            <div class="row section ">
                <div class="col-md-2 section-red mt-1 mr-1">
                    <!-- <div class="col-xs-3 col-sm-3 col-md-12 offset-md-1"> -->

                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/products/fcts-percus.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h6 class="card-title">Que Bellas Son by Moncho y Su Banda</h6>
                                        <h6 class="card-category">Electronic</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    A hidden gem from the Venezuelan salsa bandleader and polymath is given a worthy reissue by El Palmas Music.    
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
    
                <div class="col-md-2 section-red mt-1 mr-1">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/products/page_1.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Sophie West</h6>
                                    <h6 class="card-category">Experimental</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            A group becomes a team when each member is sure enough of himself and his contribution
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 section-red mt-1 mr-1">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/products/images.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Blue Period by Beauty Pill</h6>
                                    <h6 class="card-category">Rock</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Teamwork is so important that it is virtually impossible for you to reach the heights
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 section-red mt-1 mr-1">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Orben</h6>
                                    <h6 class="card-category">Rock and rol</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 section-red mt-1 mr-1 ">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Force Form Free by Dead Meadow</h6>
                                    <h6 class="card-category">Latin</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Teamwork is so important that it is virtually impossible for you to reach the heights
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 section-red mt-1 mr-1">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Sophie West</h6>
                                    <h6 class="card-category">Alternative</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            A group becomes a team when each member is sure enough of himself and his contribution
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 section-red mt-1 mr-1">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Henry Ford</h6>
                                    <h6 class="card-category">Unnowck</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Teamwork is so important that it is virtually impossible for you to reach the heights
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 section-red mt-1 mr-1">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Robert Orben</h6>
                                    <h6 class="card-category">Unnowck</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            The strength of the team is each individual member. The strength of each member is the team.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 section-red mt-1 mr-1">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-title">Henry Ford</h6>
                                    <h6 class="card-category">Unnowck</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                A hidden gem from the Venezuelan salsa bandleader and polymath is given a worthy reissue by El Palmas Music.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger btn-link mr-auto">buy now</button>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-heart"></i></a>
                        </div>
                    </div>
                </div>


            </div>
            <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                      <br/>
        </div>

    <!-- </div> -->
<!-- </div> -->

