<div id="images">
    <div class="container">

        <div class="section text-center">

            <div class="tim-title">
                <h3>Artistas</h3>
            </div>
            <div class="row">
                <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                    <a href = "#/user-profile">
                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" 
                            class="img-circle img-no-padding img-responsive" 
                                    alt="Rounded Image">
                    <p class="text-center">Joe Gardner</p>
                </a>
                </div>
                <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                    <a href = "#/user-profile">
                    <img src="assets/img/faces/joe-gardner-2.jpg" 
                            class="img-circle img-no-padding img-responsive" 
                                    alt="Rounded Image">
                    <p class="text-center">Joe Gardner</p>
                </a>
                </div>
                <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                    <a href = "#/user-profile">
                    <img src="assets/img/faces/clem-onojeghuo-3.jpg" 
                            class="img-circle img-no-padding img-responsive" 
                                    alt="Rounded Image">
                    <p class="text-center">Clem onojeghuo</p>
                </a>
                </div>
                <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                    <a href = "#/user-profile"> 
                        <img src="assets/img/faces/kaci-baum-2.jpg" 
                                class="img-circle img-no-padding img-responsive" 
                                        alt="Rounded Image">
                        <p class="text-center">Kaci Baum</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
