<div class="row">
   
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Add News</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" placeholder="Title" value="Michae Cumple 14">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Image</label>
                  <input type="text" class="form-control" placeholder="Imagen" value="image1">
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Noticia</label>
                  <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round">Add News</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  