<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/planet/art/namesnack-nombres-para-tiendas-de-instrumentos-musicales-3869x2501-2021121.jpeg');">
    <!-- Mask -->
      <span class="mask bg-gradient-danger opacity-8"></span>
    <div class="filter"></div>
    <div class="container">

        <h3>Yonh Newman.</h3>

        <div class="motto text-center">
            <h2>
                - Love Me Again
            </h2>
            
            <br />
            <a href="https://www.youtube.com/watch?v=CfihYWRWRTQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Record History</h2>
                <h5 class="description">«Love Me Again» es el sencillo debut del cantante británico de soul John Newman desprendido de su álbum, Tribute. Fue lanzado como formato digital en Europa el 17 de mayo de 2013, a excepción del Reino Unido, donde se estrenó el 30 de junio de 2013. Debutó en la primera ubicación de la lista de sencillos del Reino Unido.​

                    El vídeo musical fue dirigido por Vaughan Arnell​ y está basado en la clásica historia de amor de Romeo y Julieta.</h5>
            </div>
        </div>
        <br/><br/>        

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <!-- <h2 class="title">Artista</h2> -->
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">John Newman</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>                    
                </div>                
            </div>
            
        </div>
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center">Keep in touch?</h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" autocomplete="off" >
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 mr-auto ml-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
</div>

