
<div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <!-- <h1 class="presentation-title">Paper Kit 2 Angular</h1> -->
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>

            <h2 class="presentation-subtitle text-center">Invites You To Dream</h2>
            <!-- <h2 class="presentation-subtitle text-center">Some invite you to dream, I invite you to fulfill your dreams</h2> -->
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
    <!-- <h6 class="category category-absolute">Designed and coded by -->

        <a href="https://www.creative-tim.com" target="_blank">
            <img src="assets/img/antoine-barres.jpg" class="creative-tim-logo">
        </a>
    </h6>
</div>


<!-- <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <a class="navbar-brand" href="#">Menu</a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk">Link</a>
                                </li>
                                <li class="nav-item">
                                    <div ngbDropdown class="d-inline-block dropdown">
                                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Dropdown</a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                            <a class="dropdown-item">Action - 1</a>
                                            <a class="dropdown-item">Another Action</a>
                                            <a class="dropdown-item">Something else is here</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav> -->

                <!-- <div class="navigation-example"> -->
                <div class="col" >

                    <div class="section" id="carousel">
                        <div class="container">
                            <div class="tim-title">
                                <h3>Principales Noticias</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-8 mr-auto ml-auto">
                                    <div class="card page-carousel">
                                        <ngb-carousel>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                                <div class="carousel-caption">
                                                    <p>Somewhere</p>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                                <div class="carousel-caption">
                                                    <p>Somewhere else</p>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                                <div class="carousel-caption">
                                                    <p>Here it is</p>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br/>
                            <div id="images">
                                <div class="container">
                                    <div class="tim-title">
                                        <h3>Artistas</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Circle Image</h4> -->
                                            <img src="assets/img/faces/ayo-ogunseinde-2.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Joe Gardner</p>
                                        </div>
                                        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Circle Image</h4> -->
                                            <img src="assets/img/faces/joe-gardner-2.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Joe Gardner</p>
                                        </div>
                                        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Thumbnail</h4> -->
                                            <img src="assets/img/faces/clem-onojeghuo-3.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Clem onojeghuo</p>
                                        </div>
                                        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Thumbnail</h4> -->
                                            <img src="assets/img/faces/kaci-baum-2.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Kaci Baum</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>


