
<div class="page-header section-dark" style="background-image: url('assets/img/planet/eb74057e.webp')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <!-- <h1 class="presentation-title">Paper Kit 2 Angular</h1> -->
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="card-profile-image img">
                    <img src="assets/img/planet/planet records ico.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>

            <h2 class="presentation-subtitle text-left text-danger">PLANET RECORDS</h2>
            <!-- <h2 class="presentation-subtitle text-center">Some invite you to dream, I invite you to fulfill your dreams</h2> -->
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
    <!-- <h6 class="category category-absolute">Designed and coded by -->

        <a href="https://www.creative-tim.com" target="_blank">
            <img src="assets/img/antoine-barres.jpg" class="creative-tim-logo">
        </a>
    </h6>
</div>


<!-- <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <a class="navbar-brand" href="#">Menu</a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk">Link</a>
                                </li>
                                <li class="nav-item">
                                    <div ngbDropdown class="d-inline-block dropdown">
                                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Dropdown</a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                            <a class="dropdown-item">Action - 1</a>
                                            <a class="dropdown-item">Another Action</a>
                                            <a class="dropdown-item">Something else is here</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav> -->

                <!-- <div class="navigation-example"> -->
                <div class="col" >

                    <div class="section" id="carousel">
                        <div class="container">
                            <div class="typography-line text-center text-danger">
                                <h2>
                                    Catalogue    
                                </h2>
                                
                                <br />
                            </div>

                            <div class="row">
                                <div class="col-md-8 mr-auto ml-auto">
                                    <div class="card page-carousel">
                                        <ngb-carousel>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                                <div class="carousel-caption">
                                                    <p>Somewhere</p>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                                <div class="carousel-caption">
                                                    <p>Somewhere else</p>
                                                </div>
                                            </ng-template>
                                            <ng-template ngbSlide>
                                                <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                                <div class="carousel-caption">
                                                    <p>Here it is</p>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br/>
                            <div id="images">
                                <div class="container">

                                    <!-- NOTICIAS---------------------- -->
                                    <!-- --------------------------------- -->

                                    <div class="typography-line text-center text-danger">
                                        <h2>
                                            News    
                                        </h2>
                                        
                                        <br />
                                    </div>
                                    
                                    <div class="main">
                                        <div class="section text-center">
                                            <div class="container">
                                    
                                                <div class="row">
                                    
                                                    <div class="col-md-4 ">
                                                        <div class="mr-auto ml-auto col-md-12 offset-md-1">
                                                            <div class="card-avatar">
                                                                <a href="#avatar"> 
                                                                    <img src="assets/img/daniel-olahs.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                                                                </a>
                                                            </div>
                                                            <div class="card-block">
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                        <!-- <h4 class="card-title">Robert Orben</h4> -->
                                                                        <h6 class="card-category">Brujas en planet R</h6>
                                                                    </div>
                                                                </a>
                                                                <p class="card-description text-center">
                                                                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                                                                </p>
                                                            </div>
                                                            <!-- <a href="javascript:void(0)">Show more</a> -->
                                                            <app-modal-component></app-modal-component>
                                                        </div>
                                                    </div>
                                        
                                                    <div class="col-md-4">
                                                        <div class="mr-auto ml-auto col-md-12 offset-md-1">
                                                            <div class="card-avatar">
                                                                <a href="#avatar"> 
                                                                    <img src="assets/img/faces/clem-onojeghuo-3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                                                                </a>
                                                            </div>
                                                            <div class="card-block">
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                        <!-- <h4 class="card-title">Robert Orben</h4> -->
                                                                        <h6 class="card-category">Developer canta super bien</h6>
                                                                    </div>
                                                                </a>
                                                                <p class="card-description text-center">
                                                                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                                                                </p>
                                                            </div>
                                                            <!-- <a href="javascript:void(0)">Show more</a> -->
                                                            <app-modal-component></app-modal-component>
                                                        </div>
                                                    </div>
                                    
                                                    <div class="col-md-4">
                                                        <div class="mr-auto ml-auto col-md-12 offset-md-1">
                                                            <div class="card-avatar">
                                                                <a href="#avatar"> 
                                                                    <img src="assets/img/ilya-yakover.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                                                                </a>
                                                            </div>
                                                            <div class="card-block">
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                        <!-- <h4 class="card-title">Robert Orben</h4> -->
                                                                        <h6 class="card-category">Polaco violinista volador</h6>
                                                                    </div>
                                                                </a>
                                                                <p class="card-description text-center">
                                                                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                                                                </p>
                                                            </div>
                                                            <!-- <a href="javascript:void(0)">Show more</a> -->
                                                            <app-modal-component></app-modal-component>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="mr-auto ml-auto col-md-12 offset-md-1">
                                                            <div class="card-avatar">
                                                                <a href="#avatar"> 
                                                                    <img src="assets/img/ilya-yakover.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                                                                </a>
                                                            </div>
                                                            <div class="card-block">
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                        <!-- <h4 class="card-title">Robert Orben</h4> -->
                                                                        <h6 class="card-category">Polaco violinista volador</h6>
                                                                    </div>
                                                                </a>
                                                                <p class="card-description text-center">
                                                                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                                                                </p>
                                                            </div>
                                                            <!-- <a href="javascript:void(0)">Show more</a> -->
                                                            <app-modal-component></app-modal-component>
                                                        </div>
                                                    </div>
                                        
                                                        
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="typography-line text-center text-danger">
                                        <h2>Artists</h2>
                                    </div>                                   


                                    <div class="row">
                                        <div class="col-xs-2  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Circle Image</h4> -->
                                            <img src="assets/img/faces/ayo-ogunseinde-2.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Joe Gardner</p>
                                        </div>
                                        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Circle Image</h4> -->
                                            <img src="assets/img/faces/joe-gardner-2.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Joe Gardner</p>
                                        </div>
                                        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Thumbnail</h4> -->
                                            <img src="assets/img/faces/clem-onojeghuo-3.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Clem onojeghuo</p>
                                        </div>
                                        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                                            <!-- <h4 class="images-title">Thumbnail</h4> -->
                                            <img src="assets/img/faces/kaci-baum-2.jpg" 
                                                    class="img-circle img-no-padding img-responsive" 
                                                            alt="Rounded Image">
                                            <p class="text-center">Kaci Baum</p>
                                        </div>
                                    </div>   

                                    <div class="row justify-content-center">

                                        <ngb-pagination [collectionSize]="30" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                                        <br/>
                                    </div>
                                    

                                </div>

                            </div>

                        <br/>
                            <!-- <app-artists></app-artists> -->
                </div>


