a.red{
    color: #db0f0f;
}
// a.screen-reader-text:hover{
//     color:#b6b304 !important;
//     }
dropdown-menu {
    background-color: #cb0b0b00;
    border: 0;
    transition: none;
    box-shadow: none;
    width: auto;
    border-radius: 0;
}