<br/>
              <div class="row">
                  <div class="col-md-12">
                      <div class="tim-title">
                          <h3>Enlaces de Interés</h3>
                      </div>

                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ngb-tabset [justify]="'center'">
                                  <ngb-tab title="Debate">
                                      <ng-template ngbTabContent>
                                          <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="Farandula">
                                      <ng-template ngbTabContent>
                                          <p>Here is your profile.</p>
                                          <app-artists></app-artists>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="News">
                                      <ng-template ngbTabContent>
                                          <p>Here are your messages.</p>
                                          <app-news></app-news>
                                      </ng-template>
                                  </ngb-tab>
                                  <ngb-tab title="For Sales">
                                      <ng-template ngbTabContent>
                                          <p>Here are your messages.</p>
                                      </ng-template>
                                  </ngb-tab>                                  
                                  <ngb-tab title="Publicaciones recientes">
                                      <ng-template ngbTabContent>
                                          <p>Here are your messages.</p>
                                      </ng-template>
                                  </ngb-tab>                                  
                              </ngb-tabset>
                          </div>
                      </div>

                  </div>
              </div>
