<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/products/productos-digitales-para-vender-online-830x467.jpg');">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    
    <div class="filter"></div>
    <div class="container">

        <!-- <h3>PlanetRecords.</h3> -->

        <div class="motto text-center">
            <h2>
                En Venta
            </h2>
            
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=CfihYWRWRTQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <!-- <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">

            <div class="row">
                <div class="col-xs-3 col-sm-6 col-md-5">
                    <a href = "#/user-profile" >                            
                        <!-- <h4 class="images-title">Free</h4> -->
                        <img src="assets/img/products/1501180697_797310_1501181012_sumario_normal.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </a>
                    <div href="#paper-kit" class="img-details">
                        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                        <p>Chet Faker</p>
                        <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-6 col-md-5">
                    <a href = "#/user-profile" >                            
                        <!-- <h4 class="images-title">Free</h4> -->
                        <img src="assets/img//products/fcts-percus.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </a>
                    <div href="#paper-kit" class="img-details">
                        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                        <p>Chet Faker</p>
                        <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-6 col-md-5">
                    <a href = "#/user-profile" >                            
                        <!-- <h4 class="images-title">Free</h4> -->
                        <img src="assets/img/products/images (2).jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </a>
                    <div href="#paper-kit" class="img-details">
                        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                        <p>Chet Faker</p>
                        <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                    </div>
                </div>
                <!-- <div class="col-xs-3 col-sm-6 col-md-3">
                    <a href = "#/user-profile" >                             -->
                        <!-- <h4 class="images-title">Free</h4> -->
                        <!-- <img src="assets/img/products/images (3).jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </a>
                    <div href="#paper-kit" class="img-details">
                        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                        <p>Chet Faker</p>
                        <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                    </div>
                </div> -->
                <div class="col-xs-3 col-sm-6 col-md-3">
                    <a href = "#/user-profile" >                            
                        <!-- <h4 class="images-title">Free</h4> -->
                        <img src="assets/img/products/page_1.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </a>
                    <div href="#paper-kit" class="img-details">
                        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                        <p>Chet Faker</p>
                        <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                    </div> 
                </div>
                    <!-- <div class="col-xs-8 col-sm-6 col-md-3">
                        <a href="#avatar">                            
                            <h4 class="images-title">Free</h4>
                            <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                        </a>
                        <div href="#paper-kit" class="img-details">
                            <div class="author">
                                <i class="fa fa-cart-plus fa-4x" aria-hidden="true" alt="Circle Image"></i>
                                <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                            <p>Chet Faker</p>
                            <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-3">
                        <a href="#avatar">                            
                            <h4 class="images-title">Free</h4>
                            <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                        </a>
                        <div href="#paper-kit" class="img-details">
                            <div class="author">
                                <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                            <p>Chet Faker</p>
                            <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-3">
                        <a href="#avatar">                            
                            <h4 class="images-title">Free</h4>
                            <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                        </a>
                        <div href="#paper-kit" class="img-details">
                            <div class="author">
                                <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                            <p>Chet Faker</p>
                            <app-SeeMoreProduct-component></app-SeeMoreProduct-component>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>    
</div>

