<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.(EE)Team.com">(EE) Team</a></li>
                    <li><a href="http://blog.(EE)Team.com">Blog</a></li>
                    <li><a href="https://www.(EE)Team.com/license">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by (EE)Team
                </span>
            </div>
        </div>
    </div>
</footer>
