<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>                    
                    <!-- <li><a href="https://www.(EE)Team.com">(EE) Team</a></li>
                    <li><a href="http://blog.(EE)Team.com">Blog</a></li>
                    <li><a href="https://www.(EE)Team.com/license">Licenses</a></li> -->
                </ul>
            </nav>
            <div class="@">
                <p>
    
                    PLANET RECORDS | Independent Life Style
Napoli * Miami * New York * Santo Domingo * La Habana - Entre las Más Poderosas Disqueras Independientes a Nivel Mundial - Audio/Video Streaming Gratis!
Contacto: www.facebook.com/PlanetRecordsOfficial
                </p>
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by (EE)Team
                </span>
            </div>
        </div>
    </div>
</footer>
