<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                
            </nav>
            <div class="@">
                <div class="col-4 mt-3">
                    <span class="mt-3 label-info">Noticias de Interes</span>

                    <div class="list-group">
                        <!-- <a href="#" class="list-group-item list-group-item-action active">
                          Cras justo odio
                        </a> -->
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Farandula</a>
                        <a href="#" class="list-group-item list-group-item-action">Lo mas pegao</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Forum de Dabates</a>
                      </div>
                </div>

                <p>    
                    PLANET RECORDS | Independent Life Style
Napoli * Miami * New York * Santo Domingo * La Habana - Entre las Más Poderosas Disqueras Independientes a Nivel Mundial - Audio/Video Streaming Gratis!
Contacto: www.facebook.com/PlanetRecordsOfficial
                </p>
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by (EE)Team
                </span>
            </div>
        </div>
    </div>
</footer>
